/* 
* css variables
*/
:root {
    --base-orange: #D17B0F;
    --base-dark-blue: #1B203D;
    --base-dark-grey: #1A1A1A; 
}

/*
* simple reset
*/
* {
    padding: 0;
    margin: 0;
}

/*
* GLOBAL STYLES
*/
body {
    background-color: var(--base-dark-blue);
    font-family: proxima-nova, sans-serif;
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

/* 
*   TYPOGRAPHY 
*/
h1,h2,h3,h4,h5,h6 {
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

hr {
    margin: 20px 0;
    border: 2px solid #fff;
}

.highlighted-text {
    color: var(--base-orange);
}
.bold-text {
    font-weight: 700;
}

/* 
*   IMAGES 
*/
.image-round {
    display: block;
    border-radius: 100%;
    width: 80%;
    border: 2px solid #fff;
    margin: 20px auto 20px auto;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/*
* HEADER AND NAVIGATION
*/
header {
    background-color: var(--base-orange);
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 9;
}

.nav-link {
    transition: 0.3s ease-out;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: #fff;
}

li {
    list-style: none;
}

.nav-item a {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-container {
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
}

.nav-menu input[type="text"]{
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.nav-menu input[type="text"]:focus {
    background-color: var(--base-dark-blue);
    color: #fff;
}
.nav-menu input[type="text"]:focus::placeholder {
    color: #fff;
}


/*
* MAIN PAGE 
*/
#hero {
    background-color: #1A1A1A;
    height: 60vh;
    width: 100%;
    background-image: url('../images/bg_main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hero-title {
    padding-top: 10px;
}

.hero-title h1 { 
    font-size: 2.5em;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#hero p.subtitle {
    font-size: 1.5em;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
 
#hero .card {
    background-color: rgba(0,0,0,0.6);
}

/*
*   GAMES 
*/

#games-hero {
    background-color: #1A1A1A;
    height: 30vh;
    width: 100%;
    background-image: url('../images/bg_games.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#games-hero .overlay {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.games-hero-title {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.games-hero-title h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
}
.games-hero-title p {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
}

/*
*   ABOUT
*/

#about-hero {
    background-color: #1A1A1A;
    height: 30vh;
    width: 100%;
    background-image: url('../images/bg_about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#about-hero .overlay {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.about-hero-title {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-hero-title h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
}
.about-hero-title p {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
}

.about-us-content {
    padding: 25px;
}

.about-us-content h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-us-content p {
    margin-bottom: 20px;
}

/* CONTACT PAGE */
#contact-hero {
    background-color: #1A1A1A;
    height: 30vh;
    width: 100%;
    background-image: url('../images/bg_contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#contact-hero .overlay {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contact-hero-title {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-hero-title h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
}

.main-content {
    padding: 25px;
}

/* ORDER PAGE */
#order-hero {
    background-color: #1A1A1A;
    height: 30vh;
    width: 100%;
    background-image: url('../images/bg_order.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#order-hero .overlay {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.order-content {
    padding: 25px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-content .game-container {
    padding-top: 25px;
    background-color: rgba(0,0,0,0.6);
    width: 300px;
    border-radius: 25px;
}

.order-content .game-container p {
    text-align: center;
    margin: 20px;
}

.order-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

/* ORDER SUCCESS PAGE */
.order-success-content {
    padding: 25px;
    min-height: 80vh;
}
.confirmation-message {
    background-color: rgba(0,0,0,0.6);
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}
.confirmation-message i {
    font-size: 3.5em;
}

/* FORM STYLES */
.order-form input,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    font: inherit;
}

.order-form input:focus,
.contact-form input:focus,
.contact-form textarea:focus {
    background-color: var(--base-orange);
}

.order-form input:focus::placeholder,
.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
    color: #fff;
}

::placeholder {
    text-transform: uppercase;
}

.btn,
.btn-place-order,
.btn-read-more,
.btn-browse-games {
    background-color: var(--base-orange);
    color: #fff;
    padding: 5px;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-read-more {
    width: 100%;
}

.btn-place-order {
    padding: 15px;
}

button:hover {
    cursor: pointer;
}

/*
* featured games sidescroller
*/
.featured-games-title-container,
.trending-games-title-container,
.discount-games-title-container {
    display: flex;
    padding-left: 40px;
    max-width: 1224px;
    margin: 40px auto 0;
}
.featured-games-title-container i,
.trending-games-title-container i,
.discount-games-title-container i {
    font-size: 1.3em;
    line-height: 1.4;
}

.trending-games-title-container i {
    color: var(--base-orange);
}

.featured-games-title-container h3,
.trending-games-title-container h3,
.discount-games-title-container h3 {
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 10px;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    max-width: 1224px;
    margin: auto;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.featured-game {
    flex: 0 0 auto;
    display: flex;
    width: 400px;
    justify-items: center;
    align-items: center;
    min-height: 240px;
    padding: 20px;
    position: relative;
    left: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.trending-game,
.discount-game {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 290px;
    flex: 0 0 auto;
    justify-items: center;
    align-items: center;
    width: 140px;
    top: 10px;
    left: 40px;
    margin-right: 10px;
}

.featured-game-description h4 {
    text-transform: uppercase;
}
.featured-game-description {
    color: #fff;
}

/*
* MAIN PAGE - CENTER CALL TO ACTION AREA 
*/
#homepage-call-to-action {
    height: 250px;
    background-color: #000;
    background-image: url('../images/bg_cta.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#homepage-call-to-action > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(27,32,51,0.65);
    text-align: center;
    width: 100%;
    height: 100%;
}

#homepage-call-to-action h2 {
    text-transform: uppercase;
    font-size: 2.5em;
}

#homepage-call-to-action h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5em;

}

.games-list {
    display: flex;
    padding: 0 25px 0 25px;
    max-width: 1224px;
    margin: 40px auto 40px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/*
* GAME PRESENTATION
*/
.game {
    display: flex;
    width: 160px;
    flex-direction: column;
}

.game-presentation {
    background-image: url(../images/bg_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    padding: 40px;
    min-height: 100vh;
}

.the-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.7);
}

.the-game h1 {
    font-size: 2.4em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.the-game p {
    text-align: center;
    margin-bottom: 10px;
}

.the-game .price {
    font-size: 2em;
    font-weight: 700;
}

.the-game img {
    max-width: 250px;
}

/*
*   FOOTER
*/
footer {
    background-color: var(--base-dark-grey);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.brand-logo-negative {
    width: 150px;
}

footer > .container {
    max-width: 500px;
    margin: auto;
    display: flex;
    gap: 15px;
    justify-content: center;
}


.some-container {
    border: 1px solid #fff;
}

img.footer-some-logo {
    width: 30px;
}

/*
* MEDIA QUERIES
*/
@media(min-width:1024px){
    .hero-title {
        padding-top: 50px;
    }
    .scrolling-wrapper {
        overflow: hidden;
    }
    .featured-game,
    .featured-games-title-container {
        left: 0;
    }
    .trending-game {
        width: 180px;
    }
    #homepage-call-to-action {
        height: 400px;
        margin-top: 30px;
    }
    .game-presentation {
        flex-direction: wrap;
        align-items: center;
        padding-top: 0;
    }
    .the-game {
        flex-direction: row;
        gap: 10px;
        max-height: 500px; /* This should be solved better. If a game has a very long description there wil be overflow.... */
    }
    .the-game h1,
    .the-game p {
        text-align: left;
    } 
    .main-content {
        max-width: 1224px;
        display: flex;
        margin: auto;
        gap:20px;
    }
    .main-content .col2 {
        display: flex;
        align-items: center;
    }
    .about-us-content {
        max-width: 1224px;
        margin: auto;
        position: relative;
    }
    .about-us-content img {
        position: absolute;
        right: 0;
        width: 40%;
        top: 100px;
    }
    .about-us-content .title-description {
        width: 50%
    }
    .order-content {
        max-width: 1024px;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
    }

}
/*
* navigation is not mobile first... I just find it easier this way
*/
@media(max-width:1024px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        /* height: calc(100vh - 70px); */
        top: 70px;
        left:-100%;
        gap: 0;
        flex-direction: column;
        background-color: var(--base-orange);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}